/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {

    /* ========== GLOBAL ========== */
    .big-title {
        font-size: 2.8rem;
    }

    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1.2rem;
    }

    .para {
        font-size: 1rem;
    }

    .page-btn {
        font-size: 1rem;
        padding: 1rem 1.5rem;
    }

    /* ======== Party ======== */
    .party-contents {
        flex-direction: column;
    }

    #party .party-desc h1 {
        text-align: center;
    }

    /* ======== Party Location ======== */
    #location .location-desc {
        font-size: 1.5rem;
    }

    /* ======== Best Offer ======== */
    #best-offer {
        flex-direction: column;
    }

    #best-offer>div {
        width: auto;
        align-items: center;
    }


    /* ======== Holidays Sale ======== */
    #holidays .holiday-sale-desc {
        padding: 5%;
    }

    #holidays .surprise-images {
        height: 50vh;
    }

    #holidays .surprise-images .box {
        left: 1.5rem;
        bottom: 1.5rem;
    }

    #holidays .surprise-images .discount {
        right: 1rem;
        top: 2rem;
    }

    /* ======== Portfolio ======== */
    #portfolio .portfolio-desc {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    #portfolio .portfolio-img {
        grid-template-columns: repeat(2, 1fr);
    }

    /* ======== Newsletter ======== */
    #newsletter .newsletter-container {
        padding: 5%;
    }

    #newsletter .newsletter-container .newsletter-desc h2 {
        text-align: center;
    }
    #newsletter .mail-form button {
        padding: 3% 5%;
    }

    /* ======== FOOTER ======== */
    footer .container {
        padding: 5%;
    }

    footer .row1 {
        flex-direction: column;
    }

    footer .row2 img {
        width: 2em;
    }

    footer .row3 {
        flex-direction: column;
        gap: 2rem;
    }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* CSS rules for small devices */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* ======== Party ======== */
    .party-contents {
        flex-direction: column;
    }

    /* ======== Party Location ======== */
    #location .location-desc {
        font-size: 1.9rem;
    }

    /* ======== Best Offer ======== */
    #best-offer {
        flex-direction: column;
    }

    #best-offer>div {
        width: auto;
        align-items: center;
    }

    /* ======== Holidays Sale ======== */
    #holidays .surprise-images {
        height: 100vh;
    }

    /* ======== Newsletter ======== */
    #newsletter .newsletter-container {
        padding: 5%;
    }

    /* ======== FOOTER ======== */
    footer .container {
        padding: 5%;
    }

    footer .row1 {
        flex-direction: column;
    }

    footer .row3 {
        flex-direction: column;
        gap: 2rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* ========== GLOBAL ========== */
    .big-title {
        font-size: 4rem;
    }

    .title {
        font-size: 3rem;
        font-weight: 700;
    }

    .subtitle {
        font-size: 2.25rem;
    }

    /* ======== Party ======== */
    #party .party-desc {
        width: 70%;
        align-items: flex-start;
    }

    /* ======== Best Offer ======== */
    #best-offer {
        flex-direction: column;
        padding: 5%;
    }

    #best-offer>div {
        width: auto;
        align-items: center;
    }

    /* ======== Holidays Sale ======== */
    #holidays .surprise-images {
        height: 125vh;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    /* ======== Holidays Sale ======== */
    #holidays .surprise-images {
        height: 160vh;
    }
}

/* XXL devices (very large desktops, 1400px and up) */
@media (min-width: 1400px) {

    /* ========== GLOBAL ========== */
    .big-title {
        font-size: 8rem;
    }

    .title {
        font-size: 4.5rem;
        font-weight: 700;
    }

    .subtitle {
        font-size: 3rem;
    }

    .para {
        font-size: 1.5rem;
    }

    .page-btn {
        font-size: 2em;
    }

    /* ======== Party Location ======== */
    #location .location-desc {
        font-size: 2.8rem;
    }

    #location .page-btn {
        margin: 2rem;
        background: rgb(255, 0, 0);
    }

}