/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {

    /* ========== GLOBAL ========== */
    .container {
        width: 90%;
        margin: 15% auto;
    }

    .para {
        font-size: 1rem;
    }

    .page-btn {
        font-size: 1em;
        padding: 5% 10%;
    }

    /* ======== Banner ======== */
    .banner-content {
        padding: 5%;
    }

    .banner-content h5 {
        font-size: 1.5rem;
        font-weight: 400;
    }

    .banner-content h1 {
        font-size: 3rem;
        font-weight: 900;
    }

    /* ======== Sale ======== */
    #sales .sales-content h1 {
        font-size: 3.5rem;
    }

    #sales .sales-content h5 {
        font-size: 1.2rem;
    }

    #sales .sales-content h2 {
        font-size: 1.5rem;
    }

    /* ======== Party ======== */
    .party-contents {
        flex-direction: column;
        padding: 5%;
    }

    #party .party-desc {
        align-items: center;
    }

    #party .party-desc h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    #party .page-btn {
        background: transparent;
    }

    /* ======== Party Location ======== */
    #location {
        padding: 5%;
    }

    #location .location-desc {
        font-size: 1.5rem;
        text-align: center;
    }

    /* ======== Best Offer ======== */
    #best-offer {
        flex-direction: column;
    }

    #best-offer>div {
        width: auto;
        align-items: center;
    }

    #best-offer .left-sect h5 {
        font-size: 1.2rem;
    }

    #best-offer .left-sect h3 {
        font-size: 2.5rem;
    }

    #best-offer .middle-sect {
        padding: 1.5rem;
    }

    #best-offer .right-sect h3 {
        font-size: 2.5rem;
    }

    /* ======== Holidays Sale ======== */
    .holiday-sale-desc {
        padding: 5%;
    }

    #holidays h5 {
        font-size: 1.2rem;
    }

    #holidays h1 {
        font-size: 3rem;
        text-align: center;
    }

    #holidays p {
        text-align: justify;
    }

    #holidays .surprise-images {
        height: 30vh;
    }

    #holidays .surprise-images img {
        width: 100%;
    }

    #holidays .surprise-images .box {
        width: 200px;
        left: 5px;
        bottom: 8px;
    }

    #holidays .surprise-images .discount {
        width: 100px;
        right: 30px;
        top: 40px;
    }

    /* ======== Portfolio ======== */
    #portfolio h6 {
        font-size: 1.2rem;
    }

    #portfolio h3 {
        font-size: 2rem;
        text-align: center;
    }

    #portfolio .portfolio-img {
        grid-template-columns: repeat(1, 1fr);
    }

    /* ======== Newsletter ======== */
    #newsletter .newsletter-container {
        padding: 10%;
    }

    #newsletter .newsletter-desc h3 {
        font-size: 2rem;
        text-align: center;
    }

    /* ======== FOOTER ======== */
    footer .container {
        padding: 5%;
    }

    footer .row1 {
        flex-direction: column;
    }

    footer .row2 img{
        width: 2em;
    }

    footer .row3 {
        flex-direction: column;
        gap: 2rem;
    }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* CSS rules for small devices */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* CSS rules for medium devices */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* CSS rules for large devices */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* CSS rules for extra large devices */
}

/* XXL devices (very large desktops, 1400px and up) */
@media (min-width: 1400px) {
    /* CSS rules for XXL devices */
}