/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {

    /* ========== GLOBAL ========== */
    .container {
        width: 90%;
        margin: 15% auto;
    }

    .big-title {
        font-size: 3.5rem;
        font-weight: 800;
    }

    .title {
        font-size: 2.5rem;
        font-weight: 600;
    }

    .subtitle {
        font-size: 1.3rem;
        font-weight: 500;
    }

    .para {
        font-size: 1.2rem;
        text-align: justify;
        font-family: Inter;
        opacity: 0.6;
    }

    .para {
        font-size: 1rem;
    }

    /* ======== Party ======== */
    .party-contents {
        flex-direction: column;
    }

    #party .party-desc h1 {
        text-align: center;
    }

    /* ======== Party Location ======== */
    #location .location-desc {
        font-size: 1.5rem;
    }

    /* ======== Best Offer ======== */
    #best-offer {
        flex-direction: column;
    }

    #best-offer>div {
        width: auto;
        align-items: center;
    }


    /* ======== Holidays Sale ======== */
    .holiday-sale-desc {
        padding: 5%;
    }

    #holidays h1 {
        text-align: center;
    }

    #holidays .surprise-images {
        height: 25vh;
    }

    #holidays .surprise-images .box {
        width: 200px;
        left: 5px;
        bottom: 8px;
    }

    #holidays .surprise-images .discount {
        width: 100px;
        right: 30px;
        top: 20px;
    }

    /* ======== Portfolio ======== */
    #portfolio .portfolio-desc {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    #portfolio .portfolio-img {
        grid-template-columns: repeat(2, 1fr);
    }

    /* ======== Newsletter ======== */
    #newsletter .newsletter-container {
        padding: 5%;
    }

    #newsletter .newsletter-container .newsletter-desc h2 {
        text-align: center;
    }

    /* ======== FOOTER ======== */
    footer .container {
        padding: 5%;
    }

    footer .row1 {
        flex-direction: column;
    }

    footer .row2 img {
        width: 2em;
    }

    footer .row3 {
        flex-direction: column;
        gap: 2rem;
    }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* CSS rules for small devices */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* ======== Party ======== */
    .party-contents {
        flex-direction: column;
    }

    /* ======== Party Location ======== */
    #location .location-desc {
        font-size: 1.9rem;
    }

    /* ======== Best Offer ======== */
    #best-offer {
        flex-direction: column;
    }

    #best-offer>div {
        width: auto;
        align-items: center;
    }

    /* ======== Holidays Sale ======== */
    .holiday-sale-desc {
        padding: 5%;
    }

    #holidays h1 {
        text-align: center;
    }

    #holidays .surprise-images {
        height: 30vh;
    }

    #holidays .surprise-images .box {
        width: 300px;
        left: 30px;
        bottom: 50px;
    }

    #holidays .surprise-images .discount {
        width: 200px;
        right: 30px;
        top: 10px;
    }

    /* ======== Newsletter ======== */
    #newsletter .newsletter-container {
        padding: 5%;
    }

    /* ======== FOOTER ======== */
    footer .container {
        padding: 5%;
    }

    footer .row1 {
        flex-direction: column;
    }

    footer .row3 {
        flex-direction: column;
        gap: 2rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* ======== Party ======== */
    .party-contents {
        flex-direction: column;
    }

    #party .party-desc {
        align-items: center;
        text-align: center;
    }

    /* ======== Best Offer ======== */
    #best-offer {
        flex-direction: column;
        padding: 5%;
    }

    #best-offer>div {
        width: auto;
        align-items: center;
    }

    /* ======== Holidays Sale ======== */
    .holiday-sale-desc {
        padding: 5%;
    }

    #holidays .surprise-images {
        height: 35vh;
    }

    #holidays .surprise-images .box {
        width: 400px;
    }

    #holidays .surprise-images .discount {
        position: absolute;
        width: 250px;
        right: 40px;
        top: 100px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* CSS rules for extra large devices */
}

/* XXL devices (very large desktops, 1400px and up) */
@media (min-width: 1400px) {
    /* CSS rules for XXL devices */
}