@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* ========== GLOBAL ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", serif;
}

.container {
    width: 90%;
    margin: 10% auto;
    border-radius: 16px;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.font-1 {
    color: rgb(255, 0, 0);
}

.font-2 {
    color: rgb(7, 2, 17);
}

.font-3 {
    color: white;
}

.page-btn {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.3em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 32px;
    border: none;
    cursor: pointer;
}

.para {
    font-size: 1.2rem;
    text-align: justify;
    font-family: Inter;
}

/* ======== Banner ======== */
#banner {
    min-height: 600px;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url(assets/images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    margin-top: 0;
}

.banner-content {
    text-align: center;
}

.banner-content h5 {
    font-size: 2rem;
    font-weight: 400;
}

.banner-content h1 {
    font-size: 5rem;
    font-weight: 900;
}



/* ======== Sale ======== */
#sales {
    font-family: "Inter", sans-serif;
}

#sales .sales-content h1 {
    font-size: 5.5rem;
    font-weight: 700;
}

#sales .sales-content h5 {
    font-size: 1.5rem;
    font-weight: 500;
}

#sales .sales-content h2 {
    font-size: 3rem;
    font-weight: 700;
}



/* ======== Party ======== */
#party {
    background: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('assets/images/Vectorrr.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.party-contents {
    flex-direction: row;
    padding: 5% 10%;
}

#party .party-desc {
    align-items: flex-start;
}

#party .party-desc h1 {
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 11%;
}

#party .page-btn {
    background: transparent;
}



/* ======== Party Location ======== */
#location {
    font-family: Inter;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    padding: 5% 10%;
}

#location .location-desc {
    font-size: 2rem;
    font-weight: 600;
}

#location .page-btn {
    margin: 2rem;
    background: rgb(255, 0, 0);
}



/* ======== Best Offer ======== */
#best-offer {
    font-family: Inter;
    flex-direction: row;
    justify-content: space-between;
}

#best-offer>div {
    width: 33%;
    align-items: start;
}

#best-offer p {
    opacity: 0.6;
}

#best-offer .left-sect h5 {
    font-size: 1.5rem;
    font-weight: 500;
}

#best-offer .left-sect h3 {
    font-size: 3rem;
    font-weight: 900;
}

#best-offer .middle-sect {
    width: 100%;
    border: 1rem solid rgb(255, 0, 0);
    border-radius: 50%;
    padding: 3rem;
}

#best-offer .right-sect h3 {
    font-size: 3rem;
    font-weight: 700;
}



/* ======== Holidays Sale ======== */
.holiday-sale-desc {
    padding: 0 15%;
}

#holidays h1 {
    font-size: 4.5rem;
    font-weight: 900;
}

#holidays h5 {
    font-family: Inter;
    font-size: 2rem;
    font-weight: 500;
}

#holidays p {
    opacity: 0.6;
    text-align: center;
}

#holidays .surprise-images {
    position: relative;
    height: 680px;
}

#holidays .surprise-images img {
    width: 100%;
}

#holidays .surprise-images .bottom-red {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -5;
}

#holidays .surprise-images .box {
    position: absolute;
    width: 650px;
    left: 50px;
    bottom: 80px;
}

#holidays .surprise-images .discount {
    position: absolute;
    width: 300px;
    right: 40px;
    top: 70px;
}


/* ======== Holidays Sale ======== */
#portfolio .portfolio-desc {
    align-items: flex-start;
}

#portfolio h6 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

#portfolio h3 {
    color: rgb(7, 2, 17);
    font-size: 3rem;
    font-weight: 900;
}

#portfolio p {
    opacity: 0.6;
    margin-bottom: 40px;
}

#portfolio .portfolio-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

#portfolio .portfolio-img img {
    width: 100%;
}


/* ======== Newsletter ======== */
#newsletter {
    background: rgba(255, 0, 0, 0.05);
}

#newsletter .newsletter-container {
    padding: 8% 20%;
}

#newsletter .newsletter-desc h3 {
    font-size: 3rem;
    font-weight: 900;
}

#newsletter .newsletter-desc p {
    opacity: 0.6;
}

#newsletter .mail-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

#newsletter .mail-form #mail {
    border-radius: 50px 0 0 50px;
    border: none;
    width: 100%;
    padding-left: 20px;
}

#newsletter .page-btn {
    background: rgb(255, 0, 0);
    border-radius: 0 50px 50px 0;
}

/* ======== FOOTER ======== */
footer {
    background-color: rgb(30, 30, 30);
    font-family: Inter;
}

footer .container {
    margin: 0 auto;
    padding: 100px;
}

footer .row1 {
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
}

footer .row2 {
    width: 100%;
    margin: 50px auto;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

footer .row3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Inter;
    font-weight: 500;
}